.item {
  display: flex;
  align-items: center;

  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.avatar {
  margin: 0 10px;
}

.name {
  font-size: 22px;
}
